*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/dist
/nbproject
build.xml
manifest.mf
/captures
.externalNativeBuild
.cxx
local.properties
/NetBeans/ cs310-junit-hello-world/nbproject/private/
/NetBeans/cs310-junit/nbproject/private/
/NetBeans/cs310-junit/build/
/NetBeans/cs310-junit/dist/
